* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

main {
    width: 400px;
    height: max-content;
    min-height: 400px;
    background-color: antiquewhite;
    opacity: 0.8;
    border-radius: 30px;
    box-shadow: 0 10px 20px #5553;
    padding: 30px;
}

main form {
    border: 2px grey solid;
    display: flex; 
    justify-content: space-between;
    border-radius: 30px;
}

main form input, main form button {
    border: none; 
    background-color: transparent;
    outline: none;
    padding: 10px;
}

main form i {
    opacity: 0.9;
}

main .result {
    padding-top: 20px;
    text-align: center;
}

main .result .name {
    font-weight: bold;
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

main .temperature img{
    width: 150px;
    filter: drop-shadow(
        0 10px 50px #840F12
    );
}

main .temperature figcaption{
    font-size: 3rem;

}

main .description{
    padding: 10px 0 30px;
    text-align: center;
}

main ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

main li {
    background-color: #4FC08A;
    color: #f9f9f9;
    border-radius: 12px;
    padding: 20px 12px;
    background-image: linear-gradient(
        to bottom,
        transparent 60%,
        #0003 80%
    );
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
}

main li:nth-child(2){
    background-color: #B890F1;
}

main li:nth-child(3){
    background-color: #E7968A;
}

main li i {
    font-size: 2rem;
    display: block!important;
    margin: 12px 0;
}
